*~
*.1
*.3
*.a
*.la
*.lo
*.log
*.mode1v3
*.o
*.pbxuser
*.swp
*.sublime-project
*.sublime-workspace
*.trs
*.xcodeproj
.DS_Store
.deps
.dirstamp
/*/.libs/
/ABOUT-NLS
/INSTALL
/Makefile
/Makefile.in
/build-aux/git-package-version
/libtool
/bindletools-*.tar.*
/bindletools-*.zip
/src/bindletools
/tests/bindle-*
/tests/bindletools/*.sh
a.out
aclocal.m4
autom4te.cache
autoscan.log
build/
config.h
config.h.in
config.log
config.status
configure
configure.scan
stamp-h1
xcuserdata
